DATABASE_URL=postgresql://postgres:12345@localhost:5433/pms_project
SECRET_KEY=your-super-secret-key-change-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=7
ALGORITHM=HS256

# Email
MAIL_USERNAME=sriramcr46@gmail.com
MAIL_PASSWORD=sriramcr46@123
MAIL_FROM=noreply@company.com
MAIL_PORT=587
MAIL_SERVER=smtp.company.com

# Redis (for Celery)
REDIS_URL=redis://localhost:6379/0

# App
APP_NAME="Procurement Management System"
ENVIRONMENT=development
DEBUG=true

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Y2FwaXRhbC1nYXplbGxlLTY1LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_VtLK4In55eCeTSsBInI0JGbBpxQukyFSCHluIrh9R2
